#month {
padding: .2em;
margin-left: 33%;
}

#year {
    padding: .2em;
    margin-left: 38%;
    }

    .day {
        float: left;
        padding-left: 1%;
        padding-right: 1%;
        /*
        padding-top: .5em;
        padding-bottom: .5em;
    */
    }


    #one {
       
    }

#january, #february, #march, #april, #may, #june, #july, #august, #september, #october, #november, #december {
    display: none;
}

#cal {
    margin-left: 30%;
}



