
.date {
    background-color: sandybrown;
    font-size: 2em;
    cursor: pointer;
}

#initial,
#week1 {
    margin-left: 6%;
    margin-top: 6%;
    padding: .1em;
}

#day,
#month,
#year {
float: left;
}

#day,
#month,
#year {
padding: .2em;
}